<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="NoteWrangler" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="NoteWrangler" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="NoteWrangler" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="NoteWrangler">
<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Note Wrangler</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/styles/vendor/bootstrap.css" />
    <link rel="stylesheet" href="assets/styles/vendor/bootstrap-theme.css" />
  </head>

  <body>
    
    <div class="main-wrapper">
        <div ng-view></div>
    </div>

    <!-- Load Js libs -->
    <script src="assets/javascript/vendor/jquery-2.1.3.js"></script>
    <script src="assets/javascript/vendor/bootstrap.js"></script>
    <script src="assets/javascript/vendor/angular.js"></script>
    <script src="assets/javascript/vendor/angular-route.js"></script>
    <script src="assets/javascript/vendor/angular-resource.js"></script>

    <!-- App --> 
    <script src="assets/javascript/app.js"></script>
    <script src="assets/javascript/routes.js"></script>
    <script src="assets/javascript/controllers/noteIndexController.js"></script>
    <script src="assets/javascript/controllers/noteShowController.js"></script>
    <script src="assets/javascript/controllers/noteEditController.js"></script>
    <script src="assets/javascript/controllers/noteCreateController.js"></script>
    <script src="assets/javascript/services/note.js"></script>
  </body>
</html>